### Steps for execution:
- 1) Import the Rubric which has all the matching EOM fee amounts 
- 2) Import the EOM View dataframe, this is the base of our output
- 3) Needed column from EOM: Processor, Card Type, Merchant Group, Attempted Captured Charges, Processed, Chargebacks, Alerts.
- 4) Columns to calc: Disc Due, Auth Due, CB Due, Visa Alert Due
    - Disc Due --> **Processed** x **Discount Fee**
    - Auth Due --> **Attempted Captured Charges** x **Attemt Fees**
    - CB Due --> **Chargebacks** x **35**
    - Visa Alert Due --> **Alerts** x **Visa Alert**
    - EOM --> **SUM OF ALL**

### Step 1) Import the Rubric Dataframe which we will convert to a dictionary

In [48]:
import os
import pandas as pd 
import numpy as np

# Get the current directory (where the notebook is saved)
current_directory = os.getcwd()

files = os.listdir(current_directory)

# Get the EOM df
for RUBRIC_df in files:
    if "EOM" in RUBRIC_df and "Rubric" in RUBRIC_df:
        print(RUBRIC_df)
        break

# Import the EOM_df 
import pandas as pd
import os

def import_file(file_name):
    """
    Import a specific file regardless of whether it's CSV or Excel
    
    Parameters:
    file_name (str): Name of the file to import
    
    Returns:
    pandas.DataFrame: The imported data
    """
    # Get the full path
    file_path = os.path.join(os.getcwd(), file_name)
    
    # Check if file exists
    if not os.path.exists(file_path):
        raise FileNotFoundError(f"File {file_name} not found in the current directory")
    
    # Get the file extension (lowercase)
    _, file_extension = os.path.splitext(file_name)
    file_extension = file_extension.lower()
    
    # Import based on file extension
    if file_extension == '.csv':
        return pd.read_csv(file_path)
    elif file_extension in ['.xlsx', '.xls']:
        return pd.read_excel(file_path)
    else:
        raise ValueError(f"Unsupported file format: {file_extension}")

# Example usage:
try:
    RUBRIC_df = import_file(RUBRIC_df)
    print(f"Successfully imported {RUBRIC_df}")
except Exception as e:
    print(f"Error importing file: {e}")
RUBRIC_df.columns = RUBRIC_df.iloc[1]
RUBRIC_df = RUBRIC_df[2:]
RUBRIC_df

# restaret the index 
RUBRIC_df.reset_index(drop=True, inplace=True)

# make sure that the Processor column is a string 
RUBRIC_df['Processor'] = RUBRIC_df['Processor'].astype(str)

RUBRIC_df

GF_EOM-Rubric.xlsx
Successfully imported           EOM Rubric     Unnamed: 1    Unnamed: 2 Unnamed: 3      Unnamed: 4
0                NaN            NaN           NaN        NaN             NaN
1          Processor  Discount Fees  Attempt Fees     CB Fee  Visa Alert Due
2            PAYSAFE              0           0.6         35              20
3             PAYARC              0             0          0               0
4               APPS              0             0          0               0
5            NETEVIA              0           0.5          0               0
6           PRIORITY            NaN           NaN        NaN             NaN
7            QUANTUM           0.07           0.6         35              15
8           SignaPay              0          0.65         35              20
9           Maverick              0           0.5         35              20
10      PAYSAFE_BBVA              0           0.6         35              20
11       PAYSAFE_PNC              0           0.6         35              20
12     APPS_SYNOVOUS              0             0          0               0
13      APPS_SYNOVUS              0             0          0               0
14   NETEVIA_ESQUIRE              0           0.5          0               0
15     PAYARC_EVOLVE              0             0          0               0
16  PRIORITY_SYNOVUS              0           0.6         35              35
17           QUANTUM           0.07           0.6         35              15
18      QUANTUM_CBSL           0.07           0.6         35              15
19    QUANTUM_FRESNO           0.07           0.6         35              15
20          SIGNAPAY              0          0.65         35              20
21            PayArc              0             0          0               0

1          Processor Discount Fees Attempt Fees CB Fee Visa Alert Due
0            PAYSAFE             0          0.6     35             20
1             PAYARC             0            0      0              0
2               APPS             0            0      0              0
3            NETEVIA             0          0.5      0              0
4           PRIORITY           NaN          NaN    NaN            NaN
5            QUANTUM          0.07          0.6     35             15
6           SignaPay             0         0.65     35             20
7           Maverick             0          0.5     35             20
8       PAYSAFE_BBVA             0          0.6     35             20
9        PAYSAFE_PNC             0          0.6     35             20
10     APPS_SYNOVOUS             0            0      0              0
11      APPS_SYNOVUS             0            0      0              0
12   NETEVIA_ESQUIRE             0          0.5      0              0
13     PAYARC_EVOLVE             0            0      0              0
14  PRIORITY_SYNOVUS             0          0.6     35             35
15           QUANTUM          0.07          0.6     35             15
16      QUANTUM_CBSL          0.07          0.6     35             15
17    QUANTUM_FRESNO          0.07          0.6     35             15
18          SIGNAPAY             0         0.65     35             20
19            PayArc             0            0      0              0

In [49]:
# make sure that the remainig column are in float 
RUBRIC_df.iloc[:, 1:] = RUBRIC_df.iloc[:, 1:].astype(float)
what = RUBRIC_df.loc[5, "Processor"]

# We are goiung to convert the RUBRIC_df into a dictionary
RUBRIC_dict = RUBRIC_df.set_index("Processor").T.to_dict()

# Set all values into float 
RUBRIC_dict = {
    key.lower(): {inner_key: float(inner_value) for inner_key, inner_value in value.items()}
    for key, value in RUBRIC_dict.items()
}

RUBRIC_dict = {key.lower(): value for key, value in RUBRIC_dict.items()}
RUBRIC_dict["merchant industries"] = {
    "Discount Fees": 0.0,
    "Attempt Fees": 0.0,
    "CB Fee": 35.0,
    "Visa Alert Due": 0.0
}

RUBRIC_dict

C:\Users\mmsou\AppData\Local\Temp\ipykernel_32444\4245926676.py:6: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  RUBRIC_dict = RUBRIC_df.set_index("Processor").T.to_dict()

{'paysafe': {'Discount Fees': 0.0,
  'Attempt Fees': 0.6,
  'CB Fee': 35.0,
  'Visa Alert Due': 20.0},
 'payarc': {'Discount Fees': 0.0,
  'Attempt Fees': 0.0,
  'CB Fee': 0.0,
  'Visa Alert Due': 0.0},
 'apps': {'Discount Fees': 0.0,
  'Attempt Fees': 0.0,
  'CB Fee': 0.0,
  'Visa Alert Due': 0.0},
 'netevia': {'Discount Fees': 0.0,
  'Attempt Fees': 0.5,
  'CB Fee': 0.0,
  'Visa Alert Due': 0.0},
 'priority': {'Discount Fees': nan,
  'Attempt Fees': nan,
  'CB Fee': nan,
  'Visa Alert Due': nan},
 'quantum': {'Discount Fees': 0.07,
  'Attempt Fees': 0.6,
  'CB Fee': 35.0,
  'Visa Alert Due': 15.0},
 'signapay': {'Discount Fees': 0.0,
  'Attempt Fees': 0.65,
  'CB Fee': 35.0,
  'Visa Alert Due': 20.0},
 'maverick': {'Discount Fees': 0.0,
  'Attempt Fees': 0.5,
  'CB Fee': 35.0,
  'Visa Alert Due': 20.0},
 'paysafe_bbva': {'Discount Fees': 0.0,
  'Attempt Fees': 0.6,
  'CB Fee': 35.0,
  'Visa Alert Due': 20.0},
 'paysafe_pnc': {'Discount Fees': 0.0,
  'Attempt Fees': 0.6,
  'CB Fee': 35.0,
  'Visa Alert Due': 20.0},
 'apps_synovous': {'Discount Fees': 0.0,
  'Attempt Fees': 0.0,
  'CB Fee': 0.0,
  'Visa Alert Due': 0.0},
 'apps_synovus': {'Discount Fees': 0.0,
  'Attempt Fees': 0.0,
  'CB Fee': 0.0,
  'Visa Alert Due': 0.0},
 'netevia_esquire': {'Discount Fees': 0.0,
  'Attempt Fees': 0.5,
  'CB Fee': 0.0,
  'Visa Alert Due': 0.0},
 'payarc_evolve': {'Discount Fees': 0.0,
  'Attempt Fees': 0.0,
  'CB Fee': 0.0,
  'Visa Alert Due': 0.0},
 'priority_synovus': {'Discount Fees': 0.0,
  'Attempt Fees': 0.6,
  'CB Fee': 35.0,
  'Visa Alert Due': 35.0},
 'quantum_cbsl': {'Discount Fees': 0.07,
  'Attempt Fees': 0.6,
  'CB Fee': 35.0,
  'Visa Alert Due': 15.0},
 'quantum_fresno': {'Discount Fees': 0.07,
  'Attempt Fees': 0.6,
  'CB Fee': 35.0,
  'Visa Alert Due': 15.0},
 'merchant industries': {'Discount Fees': 0.0,
  'Attempt Fees': 0.0,
  'CB Fee': 35.0,
  'Visa Alert Due': 0.0}}

### Step 2) Import the EOM dataframe

In [50]:
# Get the EOM df
for EOM_df in files:
    if "EOM" in EOM_df and "View" in EOM_df:
        print(EOM_df)
        break

In [51]:
current_directory = os.getcwd()
current_directory

'c:\\Users\\mmsou\\Documents\\mokum.ai\\Goldfinger'

In [52]:
import pandas as pd
import os

# Get the current directory (where the notebook is saved)
current_directory = os.getcwd()

# List all files in the current directory
files = os.listdir(current_directory)

# Import the EOM_df
def import_file(file_name):
    if file_name.endswith(".csv"):
        return pd.read_csv(file_name)
    elif file_name.endswith((".xls", ".xlsx")):
        return pd.read_excel(file_name)
    else:
        raise ValueError("Unsupported file format")

# Example usage: Look for a file named "EOM-View_EXPORT.csv" or similar
for file in files:
    if "EOM" in file and file.endswith((".csv", ".xls", ".xlsx")) and "Fcast" in file:
        EOM_df = import_file(file)
        break
else:
    raise FileNotFoundError("No EOM file found in the current directory")

# Convert "Processor", "Card Type", and "Merchant Group" into string columns
EOM_df["Processor"] = EOM_df["Processor"].astype(str)
EOM_df["Card Type"] = EOM_df["Card Type"].astype(str)
EOM_df["Merchant Group"] = EOM_df["Merchant Group"].astype(str)

- Disc Due --> **Processed** x **Discount Fee**
- Auth Due --> **Attempted Captured Charges** x **Attempt Fees**
- CB Due --> **Chargebacks** x **35**
- Visa Alert Due --> **Alerts** x **Visa Alert**
- EOM --> **SUM OF ALL**

As we through the df we append the index and values for each dict representing each new colummn, in the end we will map the original df with these to fill them out

In [53]:
EOM_df = EOM_df[EOM_df['Merchant Group'] != "Sale Shield"]
EOM_df = EOM_df[EOM_df['Merchant Group'] != "SaleShield"]
EOM_df = EOM_df[EOM_df["Processor"] != "EMS"]

In [54]:
EOM_df.columns

# Columns to keep Processor, Card Type, Merchant Group, Attempted Captured Charges, Processed, Chargebacks, Alerts, Disc Due, Auth Due, CB Due, Visa Alert Due
EOM_df = EOM_df[["Processor", "Card Type", "Merchant Group", "Attempted Captured Charges", "Processed", "Chargebacks", "Alerts"]]
EOM_df["Disc Due"] = np.nan
EOM_df["Auth Due"] = np.nan
EOM_df["CB Due"] = np.nan
EOM_df["Visa Alert Due"] = np.nan
EOM_df["Total EOM"] = np.nan

# Drop all rows that have FlexFactor and Stripe in the processor column
EOM_df = EOM_df[~EOM_df["Processor"].str.contains("FlexFactor|Stripe", na=False)]

# Remove trailing spaces from EOM_df column names
def clean_column_names(df):
    df.columns = (
        df.columns.str.strip()         # Remove leading/trailing spaces
        .str.lower()                   # Convert to lowercase
        .str.replace(r'\W+', '_', regex=True)  # Replace non-word characters with '_'
        .str.replace(r'_+', '_', regex=True)   # Remove multiple consecutive '_'
        .str.rstrip('_')                # Remove trailing '_'
    )
    return df

# Clean Porcessed column such that we remove special characters and convert to float
EOM_df["Processed"] = EOM_df["Processed"].astype(str).str.replace(r'[^0-9.]', '', regex=True).astype(float)

# Replace empty strings and non-numeric values with NaN
EOM_df["Attempted Captured Charges"] = (
    EOM_df["Attempted Captured Charges"]
    .astype(str)  # Ensure the column is treated as strings
    .str.replace(r'[^0-9.]', '', regex=True)  # Remove non-numeric characters
    .replace('', 0)  # Replace empty strings with NaN
)

# Convert the column to float, coercing any remaining invalid values to NaN
EOM_df["Attempted Captured Charges"] = pd.to_numeric(EOM_df["Attempted Captured Charges"], errors='coerce')

# Convert charbacks column into integer 
# Clean and convert the column (replace "Chargebacks" with the desired column name)
EOM_df["Chargebacks"] = (
    EOM_df["Chargebacks"]
    .astype(str)  # Ensure the column is treated as strings
    .str.replace(r'[^0-9.]', '', regex=True)  # Remove non-numeric characters
    .replace('', 0)  # Replace empty strings with NaN
    .astype(float)  # Convert to float
)
EOM_df["Chargebacks"] = EOM_df["Chargebacks"].astype(str).str.replace(r'[^0-9.]', '', regex=True).astype(float)

EOM_df = clean_column_names(EOM_df)

In [55]:
# All teh rpocessors from the rubric 
processors = RUBRIC_df["Processor"].unique()
processors

processors_in_EOM = EOM_df["processor"].unique()

# now we need to check if all the processors in the rubric are in the EOM df
print("Processors in Rubric:")
print(processors)
print("\nProcessors in EOM:")
print(processors_in_EOM)

# Check for missing processors
missing_processors = []
for processor in processors:
    if processor.lower() not in [p.lower() for p in processors_in_EOM]:
        missing_processors.append(processor)

if missing_processors:
    print(f"\n‚ö†Ô∏è Warning: The following processors from the rubric are not found in EOM data:")
    for proc in missing_processors:
        print(f"  - {proc}")
else:
    print("\n‚úÖ All processors from the rubric are present in the EOM data")

# Check for processors in EOM that are not in the rubric
extra_processors = []
for processor in processors_in_EOM:
    if processor.lower() not in [p.lower() for p in processors]:
        extra_processors.append(processor)

if extra_processors:
    print(f"\n‚ö†Ô∏è Warning: The following processors in EOM data are not in the rubric:")
    for proc in extra_processors:
        print(f"  - {proc}")
else:
    print("\n‚úÖ All processors in EOM data are covered by the rubric")

# Now let's calculate the fees for each row
print("\nüîÑ Calculating fees for each row...")

# Initialize counters for tracking
processed_rows = 0
error_rows = 0
errors = []

for index, row in EOM_df.iterrows():
    try:
        processor = row['processor'].lower()
        
        # Get the fee structure for this processor
        if processor in RUBRIC_dict:
            fees = RUBRIC_dict[processor]
        else:
            # Try to find a partial match
            matching_processor = None
            for rubric_proc in RUBRIC_dict.keys():
                if processor in rubric_proc or rubric_proc in processor:
                    matching_processor = rubric_proc
                    break
            
            if matching_processor:
                fees = RUBRIC_dict[matching_processor]
                print(f"  üìù Using fees from '{matching_processor}' for processor '{processor}'")
            else:
                # Use default fees for unknown processors
                fees = {
                    "Discount Fees": 0.0,
                    "Attempt Fees": 0.0,
                    "CB Fee": 35.0,
                    "Visa Alert Due": 0.0
                }
                print(f"  ‚ö†Ô∏è No fee structure found for processor '{processor}', using defaults")
        
        # Calculate fees
        processed_amount = row['processed'] if pd.notna(row['processed']) else 0
        attempted_charges = row['attempted_captured_charges'] if pd.notna(row['attempted_captured_charges']) else 0
        chargebacks = row['chargebacks'] if pd.notna(row['chargebacks']) else 0
        alerts = row['alerts'] if pd.notna(row['alerts']) else 0
        
        # Calculate each fee type
        disc_due = processed_amount * fees["Discount Fees"]
        auth_due = attempted_charges * fees["Attempt Fees"]
        cb_due = chargebacks * fees["CB Fee"]
        visa_alert_due = alerts * fees["Visa Alert Due"]
        total_eom = disc_due + auth_due + cb_due + visa_alert_due
        
        # Update the row
        EOM_df.at[index, 'disc_due'] = disc_due
        EOM_df.at[index, 'auth_due'] = auth_due
        EOM_df.at[index, 'cb_due'] = cb_due
        EOM_df.at[index, 'visa_alert_due'] = visa_alert_due
        EOM_df.at[index, 'total_eom'] = total_eom
        
        processed_rows += 1
        
    except Exception as e:
        error_rows += 1
        errors.append(f"Row {index}: {str(e)}")
        print(f"  ‚ùå Error processing row {index}: {str(e)}")

print(f"\n‚úÖ Processing complete:")
print(f"  - Successfully processed: {processed_rows} rows")
print(f"  - Errors: {error_rows} rows")

if errors:
    print("\n‚ùå Errors encountered:")
    for error in errors[:5]:  # Show first 5 errors
        print(f"  {error}")
    if len(errors) > 5:
        print(f"  ... and {len(errors) - 5} more errors")

# Display summary statistics
print("\nüìä Summary Statistics:")
print(f"Total EOM fees: ${EOM_df['total_eom'].sum():,.2f}")
print(f"Average EOM per row: ${EOM_df['total_eom'].mean():,.2f}")
print(f"Max EOM per row: ${EOM_df['total_eom'].max():,.2f}")
print(f"Min EOM per row: ${EOM_df['total_eom'].min():,.2f}")

# Show breakdown by fee type
print("\nüí∞ Fee Breakdown:")
print(f"Discount fees: ${EOM_df['disc_due'].sum():,.2f}")
print(f"Authorization fees: ${EOM_df['auth_due'].sum():,.2f}")
print(f"Chargeback fees: ${EOM_df['cb_due'].sum():,.2f}")
print(f"Visa Alert fees: ${EOM_df['visa_alert_due'].sum():,.2f}")

# Display the final dataframe
print("\nüìã Final EOM DataFrame:")
EOM_df.head(10)

Processors in Rubric:
['PAYSAFE' 'PAYARC' 'APPS' 'NETEVIA' 'PRIORITY' 'QUANTUM' 'SignaPay'
 'Maverick' 'PAYSAFE_BBVA' 'PAYSAFE_PNC' 'APPS_SYNOVOUS' 'APPS_SYNOVUS'
 'NETEVIA_ESQUIRE' 'PAYARC_EVOLVE' 'PRIORITY_SYNOVUS' 'QUANTUM_CBSL'
 'QUANTUM_FRESNO' 'SIGNAPAY' 'PayArc']

Processors in EOM:
['APPS' 'Luqra' 'NETEVIA' 'PAYARC' 'PAYSAFE' 'PRIORITY' 'PayArc' 'QUANTUM'
 'SIGNAPAY']

‚ö†Ô∏è Warning: The following processors from the rubric are not found in EOM data:
  - Maverick
  - PAYSAFE_BBVA
  - PAYSAFE_PNC
  - APPS_SYNOVOUS
  - APPS_SYNOVUS
  - NETEVIA_ESQUIRE
  - PAYARC_EVOLVE
  - PRIORITY_SYNOVUS
  - QUANTUM_CBSL
  - QUANTUM_FRESNO

‚ö†Ô∏è Warning: The following processors in EOM data are not in the rubric:
  - Luqra

üîÑ Calculating fees for each row...
  ‚ö†Ô∏è No fee structure found for processor 'luqra', using defaults
  ‚ö†Ô∏è No fee structure found for processor 'luqra', using defaults

‚úÖ Processing complete:
  - Successfully processed: 66 rows
  - Errors: 0 rows

üìä Summary Statistics:
Total EOM fees: $44,323.46
Average EOM per row: $791.49
Max EOM per row: $3,788.89
Min EOM per row: $0.00

üí∞ Fee Breakdown:
Discount fees: $8,655.36
Authorization fees: $19,503.10
Chargeback fees: $2,380.00
Visa Alert fees: $13,785.00

üìã Final EOM DataFrame:

,processor,card_type,merchant_group,attempted_captured_charges,processed,chargebacks,alerts,disc_due,auth_due,cb_due,visa_alert_due,total_eom
0,APPS,Mastercard,SpecifiConLLC,723,10684.75,6.0,69,0.0,0.0,0.0,0.0,0.0
1,APPS,Visa,SpecifiConLLC,1712,9322.38,0.0,49,0.0,0.0,0.0,0.0,0.0
2,Luqra,Mastercard,nan,598,6121.55,0.0,0,0.0,0.0,0.0,0.0,0.0
3,Luqra,Visa,nan,1165,3547.20,0.0,0,0.0,0.0,0.0,0.0,0.0
4,NETEVIA,Mastercard,BrightAdvantageLLC,979,15005.69,17.0,74,0.0,489.5,0.0,0.0,489.5
5,NETEVIA,Mastercard,DiamondSphereLLC,1100,19793.71,8.0,92,0.0,550.0,0.0,0.0,550.0
6,NETEVIA,Mastercard,PrimeSmartSolutionsLLC,671,15238.63,4.0,54,0.0,335.5,0.0,0.0,335.5
7,NETEVIA,Mastercard,SpecifiConLLC,912,14131.09,5.0,69,0.0,456.0,0.0,0.0,456.0
8,NETEVIA,Mastercard,UniquePlusLLC,646,12473.69,6.0,57,0.0,323.0,0.0,0.0,323.0
9,NETEVIA,Visa,BrightAdvantageLLC,2099,8747.87,0.0,20,0.0,1049.5,0.0,0.0,1049.5

In [56]:
# If nan in the processor column, then drop the row
EOM_df = EOM_df.dropna(subset=["processor"])
# Reset the index
EOM_df.reset_index(drop=True, inplace=True)
EOM_df

,processor,card_type,merchant_group,attempted_captured_charges,processed,chargebacks,alerts,disc_due,auth_due,cb_due,visa_alert_due,total_eom
0,APPS,Mastercard,SpecifiConLLC,723,10684.75,6.0,69,0.0,0.00,0.0,0.0,0.00
1,APPS,Visa,SpecifiConLLC,1712,9322.38,0.0,49,0.0,0.00,0.0,0.0,0.00
2,Luqra,Mastercard,nan,598,6121.55,0.0,0,0.0,0.00,0.0,0.0,0.00
3,Luqra,Visa,nan,1165,3547.20,0.0,0,0.0,0.00,0.0,0.0,0.00
4,NETEVIA,Mastercard,BrightAdvantageLLC,979,15005.69,17.0,74,0.0,489.50,0.0,0.0,489.50
...,...,...,...,...,...,...,...,...,...,...,...,...
61,SIGNAPAY,Mastercard,UniquePlusLLC,353,6424.23,5.0,43,0.0,229.45,175.0,860.0,1264.45
62,SIGNAPAY,Visa,BrightAdvantageLLC,1043,7169.02,3.0,25,0.0,677.95,105.0,500.0,1282.95
63,SIGNAPAY,Visa,DiamondSphereLLC,1287,7822.26,1.0,21,0.0,836.55,35.0,420.0,1291.55
64,SIGNAPAY,Visa,SpecifiConLLC,101,637.97,6.0,1,0.0,65.65,210.0,20.0,295.65
65,SIGNAPAY,Visa,UniquePlusLLC,796,4787.25,5.0,21,0.0,517.40,175.0,420.0,1112.40

#### Filling in the columns

In [57]:
# Now we fill in the columns above

# These dicts will in the end be mapped over the original df, they have as keys the index and as values the due amounts
disc_due_dict = {}
auth_due_dict = {}
cb_due_dict = {}
visa_alert_due_dict = {}


# Debug 1: Check if all processors in df are in the dict
count_debug_1 = 0
# Debug 2: Check if totals match rod output
count_debug_2 = 0

# Debug 3: Check if total match len of df 
count_debug3 = 0 

# Debug 4: Check if total match len of df
count_debug4 = 0

for row in EOM_df.itertuples():
    P = row.processor.lower()
    amount_processed = row.processed
    attempted_captured_charges = row.attempted_captured_charges
    attempted_captured_charges = float(attempted_captured_charges)
    chargebacks = row.chargebacks
    alerts = row.alerts
    card_used = row.card_type.lower()
    

    # start the iteration
    if P in RUBRIC_dict:
        count_debug_1 += 1

        # Column Disc Due --> Discount on the processed column
        discount_due = RUBRIC_dict[P]["Discount Fees"] * amount_processed
        count_debug_2 += discount_due
        disc_due_dict[row.Index] = discount_due

        # Column Auth Due --> Authorization on the processed column
        authorization_due = RUBRIC_dict[P]["Attempt Fees"] * attempted_captured_charges
        count_debug3 += 1
        auth_due_dict[row.Index] = authorization_due

        # Column CB Due --> Chargeback on the processed column
        chargeback_due = RUBRIC_dict[P]["CB Fee"] * chargebacks
        cb_due_dict[row.Index] = chargeback_due
        count_debug4 += 1
        cb_due_dict[row.Index] = chargeback_due

        # Column Visa Alert Due --> Visa Alert on the processed column
        if "visa" in card_used:
            
            visa_alert_due = RUBRIC_dict[P]["Visa Alert Due"] * alerts
            visa_alert_due_dict[row.Index] = visa_alert_due
        else:
            visa_alert_due = 0.0
            visa_alert_due_dict[row.Index] = visa_alert_due
    else:
        print(P)
    

print(count_debug_1, EOM_df.shape[0], count_debug_2)
print(f"Debug 1, passed? {count_debug_1==EOM_df.shape[0]} ")

# Debug 2: Check if the len of the dict is equal to the number of rows in the df
print(f"Debug 2, passed? {len(disc_due_dict)==EOM_df.shape[0]} ")

# Debug 3: Check if the total of the dict is equal to the number of rows in the df
print(f"Debug 3, passed? {len(auth_due_dict)==EOM_df.shape[0]} ")

luqra
luqra
64 66 nan
Debug 1, passed? False
Debug 2, passed? False
Debug 3, passed? False

In [58]:
EOM_df[EOM_df["merchant_group"] == "nan"]

,processor,card_type,merchant_group,attempted_captured_charges,processed,chargebacks,alerts,disc_due,auth_due,cb_due,visa_alert_due,total_eom
2,Luqra,Mastercard,nan,598,6121.55,0.0,0,0.0,0.0,0.0,0.0,0.0
3,Luqra,Visa,nan,1165,3547.20,0.0,0,0.0,0.0,0.0,0.0,0.0
46,PayArc,Mastercard,nan,630,2172.37,0.0,0,0.0,0.0,0.0,0.0,0.0
47,PayArc,Visa,nan,1153,7056.19,0.0,0,0.0,0.0,0.0,0.0,0.0

In [59]:
EOM_df.tail(60)

,processor,card_type,merchant_group,attempted_captured_charges,processed,chargebacks,alerts,disc_due,auth_due,cb_due,visa_alert_due,total_eom
6,NETEVIA,Mastercard,PrimeSmartSolutionsLLC,671,15238.63,4.0,54,0.0000,335.50,0.0,0.0,335.5000
7,NETEVIA,Mastercard,SpecifiConLLC,912,14131.09,5.0,69,0.0000,456.00,0.0,0.0,456.0000
8,NETEVIA,Mastercard,UniquePlusLLC,646,12473.69,6.0,57,0.0000,323.00,0.0,0.0,323.0000
9,NETEVIA,Visa,BrightAdvantageLLC,2099,8747.87,0.0,20,0.0000,1049.50,0.0,0.0,1049.5000
10,NETEVIA,Visa,DiamondSphereLLC,2174,11769.95,3.0,43,0.0000,1087.00,0.0,0.0,1087.0000
11,NETEVIA,Visa,PrimeSmartSolutionsLLC,1280,7129.86,1.0,25,0.0000,640.00,0.0,0.0,640.0000
12,NETEVIA,Visa,SpecifiConLLC,1702,8072.95,3.0,38,0.0000,851.00,0.0,0.0,851.0000
13,NETEVIA,Visa,UniquePlusLLC,1296,6143.09,0.0,14,0.0000,648.00,0.0,0.0,648.0000
14,PAYARC,Mastercard,BrightAdvantageLLC,361,10552.80,6.0,50,0.0000,0.00,0.0,0.0,0.0000
15,PAYARC,Mastercard,DiamondSphereLLC,309,4441.19,2.0,16,0.0000,0.00,0.0,0.0,0.0000
16,PAYARC,Mastercard,PrimeSmartSolutionsLLC,675,11097.47,7.0,64,0.0000,0.00,0.0,0.0,0.0000
17,PAYARC,Mastercard,SalesShield,600,1531.19,0.0,0,0.0000,0.00,0.0,0.0,0.0000
18,PAYARC,Mastercard,SpecifiConLLC,408,4741.11,2.0,23,0.0000,0.00,0.0,0.0,0.0000
19,PAYARC,Mastercard,UniquePlusLLC,143,4921.72,0.0,23,0.0000,0.00,0.0,0.0,0.0000
20,PAYARC,Visa,BrightAdvantageLLC,806,5533.70,0.0,16,0.0000,0.00,0.0,0.0,0.0000
21,PAYARC,Visa,DiamondSphereLLC,750,3224.20,0.0,10,0.0000,0.00,0.0,0.0,0.0000
22,PAYARC,Visa,PrimeSmartSolutionsLLC,1567,8818.17,0.0,28,0.0000,0.00,0.0,0.0,0.0000
23,PAYARC,Visa,SalesShield,1182,3448.31,0.0,0,0.0000,0.00,0.0,0.0,0.0000
24,PAYARC,Visa,SpecifiConLLC,1117,4301.81,0.0,16,0.0000,0.00,0.0,0.0,0.0000
25,PAYARC,Visa,UniquePlusLLC,281,1871.25,1.0,7,0.0000,0.00,0.0,0.0,0.0000
26,PAYSAFE,Mastercard,BrightAdvantageLLC,178,1209.97,0.0,8,0.0000,106.80,0.0,160.0,266.8000
27,PAYSAFE,Mastercard,DiamondSphereLLC,175,830.25,0.0,5,0.0000,105.00,0.0,100.0,205.0000
28,PAYSAFE,Mastercard,PrimeSmartSolutionsLLC,445,2301.27,0.0,8,0.0000,267.00,0.0,160.0,427.0000
29,PAYSAFE,Mastercard,SpecifiConLLC,209,708.98,0.0,2,0.0000,125.40,0.0,40.0,165.4000
30,PAYSAFE,Mastercard,UniquePlusLLC,2,0.00,0.0,0,0.0000,1.20,0.0,0.0,1.2000
31,PAYSAFE,Visa,BrightAdvantageLLC,526,1493.64,0.0,6,0.0000,315.60,0.0,120.0,435.6000
32,PAYSAFE,Visa,DiamondSphereLLC,530,1890.21,0.0,2,0.0000,318.00,0.0,40.0,358.0000
33,PAYSAFE,Visa,PrimeSmartSolutionsLLC,1258,5030.59,2.0,1,0.0000,754.80,70.0,20.0,844.8000
34,PAYSAFE,Visa,SpecifiConLLC,657,2534.03,0.0,11,0.0000,394.20,0.0,220.0,614.2000
35,PAYSAFE,Visa,UniquePlusLLC,5,0.00,0.0,1,0.0000,3.00,0.0,20.0,23.0000
36,PRIORITY,Mastercard,BrightAdvantageLLC,713,11908.54,10.0,52,NaN,NaN,NaN,NaN,NaN
37,PRIORITY,Mastercard,DiamondSphereLLC,597,12332.02,4.0,70,NaN,NaN,NaN,NaN,NaN
38,PRIORITY,Mastercard,PrimeSmartSolutionsLLC,665,12310.27,3.0,58,NaN,NaN,NaN,NaN,NaN
39,PRIORITY,Mastercard,SpecifiConLLC,384,13854.84,4.0,49,NaN,NaN,NaN,NaN,NaN
40,PRIORITY,Mastercard,UniquePlusLLC,604,12229.40,5.0,60,NaN,NaN,NaN,NaN,NaN
41,PRIORITY,Visa,BrightAdvantageLLC,1244,3249.58,0.0,0,NaN,NaN,NaN,NaN,NaN
42,PRIORITY,Visa,DiamondSphereLLC,923,2223.14,1.0,0,NaN,NaN,NaN,NaN,NaN
43,PRIORITY,Visa,PrimeSmartSolutionsLLC,1061,3337.96,0.0,0,NaN,NaN,NaN,NaN,NaN
44,PRIORITY,Visa,SpecifiConLLC,233,629.30,0.0,0,NaN,NaN,NaN,NaN,NaN
45,PRIORITY,Visa,UniquePlusLLC,922,2451.98,0.0,0,NaN,NaN,NaN,NaN,NaN
46,PayArc,Mastercard,nan,630,2172.37,0.0,0,0.0000,0.00,0.0,0.0,0.0000
47,PayArc,Visa,nan,1153,7056.19,0.0,0,0.0000,0.00,0.0,0.0,0.0000
48,QUANTUM,Mastercard,BrightAdvantageLLC,864,16781.87,8.0,92,1174.7309,518.40,280.0,1380.0,3353.1309
49,QUANTUM,Mastercard,DiamondSphereLLC,955,17179.18,6.0,95,1202.5426,573.00,210.0,1425.0,3410.5426
50,QUANTUM,Mastercard,SalesShield,604,5923.77,0.0,0,414.6639,362.40,0.0,0.0,777.0639
51,QUANTUM,Mastercard,SpecifiConLLC,912,17506.18,5.0,82,1225.4326,547.20,175.0,1230.0,3177.6326
52,QUANTUM,Mastercard,UniquePlusLLC,904,17449.83,9.0,114,1221.4881,542.40,315.0,1710.0,3788.8881
53,QUANTUM,Visa,BrightAdvantageLLC,1632,9748.19,1.0,32,682.3733,979.20,35.0,480.0,2176.5733
54,QUANTUM,Visa,DiamondSphereLLC,1897,10042.67,2.0,38,702.9869,1138.20,70.0,570.0,2481.1869
55,QUANTUM,Visa,SalesShield,1259,7588.85,0.0,0,531.2195,755.40,0.0,0.0,1286.6195
56,QUANTUM,Visa,SpecifiConLLC,1839,9701.36,1.0,27,679.0952,1103.40,35.0,405.0,2222.4952
57,QUANTUM,Visa,UniquePlusLLC,1916,11726.13,3.0,39,820.8291,1149.60,105.0,585.0,2660.4291
58,SIGNAPAY,Mastercard,BrightAdvantageLLC,468,10951.60,6.0,63,0.0000,304.20,210.0,1260.0,1774.2000
59,SIGNAPAY,Mastercard,DiamondSphereLLC,542,9878.57,4.0,77,0.0000,352.30,140.0,1540.0,2032.3000
60,SIGNAPAY,Mastercard,SpecifiConLLC,46,2073.48,1.0,5,0.0000,29.90,35.0,100.0,164.9000
61,SIGNAPAY,Mastercard,UniquePlusLLC,353,6424.23,5.0,43,0.0000,229.45,175.0,860.0,1264.4500
62,SIGNAPAY,Visa,BrightAdvantageLLC,1043,7169.02,3.0,25,0.0000,677.95,105.0,500.0,1282.9500
63,SIGNAPAY,Visa,DiamondSphereLLC,1287,7822.26,1.0,21,0.0000,836.55,35.0,420.0,1291.5500
64,SIGNAPAY,Visa,SpecifiConLLC,101,637.97,6.0,1,0.0000,65.65,210.0,20.0,295.6500
65,SIGNAPAY,Visa,UniquePlusLLC,796,4787.25,5.0,21,0.0000,517.40,175.0,420.0,1112.4000

### Processor Dataframe

In [60]:
EOM_df["total_eom"].sum()

44323.462100000004

In [61]:
# Group EOM df by processor
selected_c = ["processor", "total_eom"]
EOM_processor = EOM_df[selected_c].groupby("processor").sum().reset_index()

# If we have a nan in the processor column, we remove that row 
EOM_processor = EOM_processor.dropna(subset=["processor"])
EOM_processor = EOM_processor[EOM_processor["processor"].str.lower() != "nan"]
total_row_processor = pd.DataFrame({
    'processor': ['Total'],
    'total_eom': [EOM_processor['total_eom'].sum()]
})

# Append the total row to the original DataFrame
EOM_processor = pd.concat([EOM_processor, total_row_processor], ignore_index=True)
EOM_processor["processor"] = EOM_processor["processor"].str.upper()
EOM_processor
# Clean up

  processor   total_eom
0      APPS      0.0000
1     LUQRA      0.0000
2   NETEVIA   6429.5000
3    PAYARC      0.0000
4   PAYSAFE   3341.0000
5  PRIORITY      0.0000
6    PAYARC      0.0000
7   QUANTUM  25334.5621
8  SIGNAPAY   9218.4000
9     TOTAL  44323.4621

In [62]:
# First, let's clean the processor column in the main dataframe
EOM_df["processor"] = EOM_df["processor"].astype(str).str.strip().str.lower()

# Now group by processor (which is now cleaned)
selected_c = ["processor", "total_eom"]
EOM_processor = EOM_df[selected_c].groupby("processor").sum().reset_index()

# If we have a nan in the processor column, we remove that row 
EOM_processor = EOM_processor.dropna(subset=["processor"])
EOM_processor = EOM_processor[EOM_processor["processor"].str.lower() != "nan"]

# Add total row
total_row_processor = pd.DataFrame({
    'processor': ['total'],
    'total_eom': [EOM_processor['total_eom'].sum()]
})

# Append the total row to the original DataFrame
EOM_processor = pd.concat([EOM_processor, total_row_processor], ignore_index=True)

# Convert to proper case (title case for processors, uppercase for TOTAL)
EOM_processor["processor"] = EOM_processor["processor"].apply(
    lambda x: x.title() if x.lower() == 'total' else x.title()
)

EOM_processor

  processor   total_eom
0      Apps      0.0000
1     Luqra      0.0000
2   Netevia   6429.5000
3    Payarc      0.0000
4   Paysafe   3341.0000
5  Priority      0.0000
6   Quantum  25334.5621
7  Signapay   9218.4000
8     TOTAL  44323.4621

#### Corp dataframe

In [63]:
selected_c = ["merchant_group", "total_eom"]
EOM_merchant_group = EOM_df[selected_c].groupby("merchant_group").sum().reset_index()

# order merchant group in alphabetical order
EOM_merchant_group = EOM_merchant_group.sort_values("merchant_group").reset_index(drop=True)

# if nan in merchant group delete the row 
"""
EOM_merchant_group = EOM_merchant_group[
    EOM_merchant_group["merchant_group"].notna() &  # Remove actual NaN values
    (EOM_merchant_group["merchant_group"].str.lower() != "nan")  # Remove string "nan"
]
"""

total_row = pd.DataFrame({
    'merchant_group': ['Total'],
    'total_eom': [EOM_merchant_group['total_eom'].sum()]
})
EOM_merchant_group = pd.concat([EOM_merchant_group, total_row], ignore_index=True)
EOM_merchant_group

           merchant_group   total_eom
0      BrightAdvantageLLC  10828.2542
1        DiamondSphereLLC  11415.5795
2  PrimeSmartSolutionsLLC   2247.3000
3             SalesShield   2063.6834
4           SpecifiConLLC   7947.2778
5           UniquePlusLLC   9821.3672
6                     nan      0.0000
7                   Total  44323.4621

#### Convert to message

In [64]:
message_p3 = ""
message_p3 += f"Total EOM fees by Processor: \n"

# Format processor-level fees
for row in EOM_processor.itertuples():
    if not pd.isna(row.processor):  # Exclude rows with missing processor values
        message_p3 += f"{row.processor}: ${row.total_eom:,.2f}\n"

message_p3 += "----------------------------------\n"
message_p3 += "Total EOM fees by Corp: \n"

# Format corp-level fees
for row in EOM_merchant_group.itertuples():
    if not pd.isna(row.merchant_group):  # Exclude rows with missing merchant_group values
        message_p3 += f"{row.merchant_group}: ${row.total_eom:,.2f}\n"

print(message_p3)

Total EOM fees by Processor:
Apps: $0.00
Luqra: $0.00
Netevia: $6,429.50
Payarc: $0.00
Paysafe: $3,341.00
Priority: $0.00
Quantum: $25,334.56
Signapay: $9,218.40
TOTAL: $44,323.46
----------------------------------
Total EOM fees by Corp:
BrightAdvantageLLC: $10,828.25
DiamondSphereLLC: $11,415.58
PrimeSmartSolutionsLLC: $2,247.30
SalesShield: $2,063.68
SpecifiConLLC: $7,947.28
UniquePlusLLC: $9,821.37
nan: $0.00
Total: $44,323.46

In [ ]:
# Create a excel file that has three sheets, sheet 1 is EOM_df, sheet 2 is EOM_processor, sheet 3 is EOM_merchant_group
# Create an Excel file with three sheets
output_file = "EOM_Report.xlsx"
with pd.ExcelWriter(output_file, engine="xlsxwriter") as writer:
    EOM_df.to_excel(writer, sheet_name="EOM_df", index=False)
    EOM_processor.to_excel(writer, sheet_name="EOM_processor", index=False)
    EOM_merchant_group.to_excel(writer, sheet_name="EOM_merchant_group", index=False)

print(f"‚úÖ Excel file '{output_file}' created successfully!")

‚úÖ Excel file 'EOM_Report.xlsx' created successfully!

### Export

In [ ]:
# Create a excel file that has three sheets, sheet 1 is EOM_df, sheet 2 is EOM_processor, sheet 3 is EOM_merchant_group
# Create an Excel file with three sheets
output_file = "EOM_Report.xlsx"
with pd.ExcelWriter(output_file, engine="xlsxwriter") as writer:
    EOM_df.to_excel(writer, sheet_name="EOM_df", index=False)
    EOM_processor.to_excel(writer, sheet_name="EOM_processor", index=False)
    EOM_merchant_group.to_excel(writer, sheet_name="EOM_merchant_group", index=False)

print(f"‚úÖ Excel file '{output_file}' created successfully!")

‚úÖ Excel file 'EOM_Report.xlsx' created successfully!