### NEF Project 3

### Steps for execution:
- 1) Import the Rubric which has all the matching EOM fee amounts 
- 2) Import the EOM View dataframe, this is the base of our output
- 3) Needed column from EOM: Processor, Card Type, Merchant Group, Attempted Captured Charges, Processed, Chargebacks, Alerts.
- 4) Columns to calc: Disc Due, Auth Due, CB Due, Visa Alert Due
    - Disc Due --> **Processed** x **Discount Fee**
    - Auth Due --> **Attempted Captured Charges** x **Attemt Fees**
    - CB Due --> **Chargebacks** x **35**
    - Visa Alert Due --> **Alerts** x **Visa Alert**
    - EOM --> **SUM OF ALL**

### Step 1) Import the Rubric Dataframe which we will convert to a dictionary

In [1]:
import os
import pandas as pd 
import numpy as np

# Get the current directory (where the notebook is saved)
current_directory = os.getcwd()

files = os.listdir(current_directory)

# Get the EOM df
for RUBRIC_df in files:
    if "EOM" in RUBRIC_df and "Rubric" in RUBRIC_df:
        print(RUBRIC_df)
        break

# Import the EOM_df 
import pandas as pd
import os

def import_file(file_name):
    """
    Import a specific file regardless of whether it's CSV or Excel
    
    Parameters:
    file_name (str): Name of the file to import
    
    Returns:
    pandas.DataFrame: The imported data
    """
    # Get the full path
    file_path = os.path.join(os.getcwd(), file_name)
    
    # Check if file exists
    if not os.path.exists(file_path):
        raise FileNotFoundError(f"File {file_name} not found in the current directory")
    
    # Get the file extension (lowercase)
    _, file_extension = os.path.splitext(file_name)
    file_extension = file_extension.lower()
    
    # Import based on file extension
    if file_extension == '.csv':
        return pd.read_csv(file_path)
    elif file_extension in ['.xlsx', '.xls']:
        return pd.read_excel(file_path)
    else:
        raise ValueError(f"Unsupported file format: {file_extension}")

# Example usage:
try:
    RUBRIC_df = import_file(RUBRIC_df)
    print(f"Successfully imported {RUBRIC_df}")
except Exception as e:
    print(f"Error importing file: {e}")
RUBRIC_df.columns = RUBRIC_df.iloc[1]
RUBRIC_df = RUBRIC_df[2:]
RUBRIC_df

# restaret the index 
RUBRIC_df.reset_index(drop=True, inplace=True)

# make sure that the Processor column is a string 
RUBRIC_df['Processor'] = RUBRIC_df['Processor'].astype(str)

RUBRIC_df

EOM-Rubric.xlsx
Successfully imported           EOM Rubric     Unnamed: 1    Unnamed: 2 Unnamed: 3      Unnamed: 4
0                NaN            NaN           NaN        NaN             NaN
1          Processor  Discount Fees  Attempt Fees     CB Fee  Visa Alert Due
2            PaySafe              0           0.6         35              20
3             PAYARC              0             0          0               0
4               APPS              0             0          0               0
5            Netevia              0           0.5          0               0
6           Priority              0           0.6         35              35
7            Quantum           0.07           0.6         35              15
8           SignaPay              0          0.65         35              20
9           Maverick              0           0.5         35              20
10      PAYSAFE_BBVA              0           0.6         35              20
11       PAYSAFE_PNC              0           0.6         35              20
12     APPS_SYNOVOUS              0             0          0               0
13      APPS_SYNOVUS              0             0          0               0
14   NETEVIA_ESQUIRE              0           0.5          0               0
15     PAYARC_EVOLVE              0             0          0               0
16  PRIORITY_SYNOVUS              0           0.6         35              35
17           QUANTUM           0.07           0.6         35              15
18      QUANTUM_CBSL           0.07           0.6         35              15
19    QUANTUM_FRESNO           0.07           0.6         35              15
20  SIGNAPAY_ESQUIRE              0          0.65         35              20

1          Processor Discount Fees Attempt Fees CB Fee Visa Alert Due
0            PaySafe             0          0.6     35             20
1             PAYARC             0            0      0              0
2               APPS             0            0      0              0
3            Netevia             0          0.5      0              0
4           Priority             0          0.6     35             35
5            Quantum          0.07          0.6     35             15
6           SignaPay             0         0.65     35             20
7           Maverick             0          0.5     35             20
8       PAYSAFE_BBVA             0          0.6     35             20
9        PAYSAFE_PNC             0          0.6     35             20
10     APPS_SYNOVOUS             0            0      0              0
11      APPS_SYNOVUS             0            0      0              0
12   NETEVIA_ESQUIRE             0          0.5      0              0
13     PAYARC_EVOLVE             0            0      0              0
14  PRIORITY_SYNOVUS             0          0.6     35             35
15           QUANTUM          0.07          0.6     35             15
16      QUANTUM_CBSL          0.07          0.6     35             15
17    QUANTUM_FRESNO          0.07          0.6     35             15
18  SIGNAPAY_ESQUIRE             0         0.65     35             20

In [2]:
# make sure that the remainig column are in float 
RUBRIC_df.iloc[:, 1:] = RUBRIC_df.iloc[:, 1:].astype(float)
what = RUBRIC_df.loc[5, "Processor"]

# We are goiung to convert the RUBRIC_df into a dictionary
RUBRIC_dict = RUBRIC_df.set_index("Processor").T.to_dict()

# Set all values into float 
RUBRIC_dict = {
    key.lower(): {inner_key: float(inner_value) for inner_key, inner_value in value.items()}
    for key, value in RUBRIC_dict.items()
}

RUBRIC_dict = {key.lower(): value for key, value in RUBRIC_dict.items()}
RUBRIC_dict["merchant industries"] = {
    "Discount Fees": 0.0,
    "Attempt Fees": 0.0,
    "CB Fee": 35.0,
    "Visa Alert Due": 0.0
}

RUBRIC_dict

{'paysafe': {'Discount Fees': 0.0,
  'Attempt Fees': 0.6,
  'CB Fee': 35.0,
  'Visa Alert Due': 20.0},
 'payarc': {'Discount Fees': 0.0,
  'Attempt Fees': 0.0,
  'CB Fee': 0.0,
  'Visa Alert Due': 0.0},
 'apps': {'Discount Fees': 0.0,
  'Attempt Fees': 0.0,
  'CB Fee': 0.0,
  'Visa Alert Due': 0.0},
 'netevia': {'Discount Fees': 0.0,
  'Attempt Fees': 0.5,
  'CB Fee': 0.0,
  'Visa Alert Due': 0.0},
 'priority': {'Discount Fees': 0.0,
  'Attempt Fees': 0.6,
  'CB Fee': 35.0,
  'Visa Alert Due': 35.0},
 'quantum': {'Discount Fees': 0.07,
  'Attempt Fees': 0.6,
  'CB Fee': 35.0,
  'Visa Alert Due': 15.0},
 'signapay': {'Discount Fees': 0.0,
  'Attempt Fees': 0.65,
  'CB Fee': 35.0,
  'Visa Alert Due': 20.0},
 'maverick': {'Discount Fees': 0.0,
  'Attempt Fees': 0.5,
  'CB Fee': 35.0,
  'Visa Alert Due': 20.0},
 'paysafe_bbva': {'Discount Fees': 0.0,
  'Attempt Fees': 0.6,
  'CB Fee': 35.0,
  'Visa Alert Due': 20.0},
 'paysafe_pnc': {'Discount Fees': 0.0,
  'Attempt Fees': 0.6,
  'CB Fee': 35.0,
  'Visa Alert Due': 20.0},
 'apps_synovous': {'Discount Fees': 0.0,
  'Attempt Fees': 0.0,
  'CB Fee': 0.0,
  'Visa Alert Due': 0.0},
 'apps_synovus': {'Discount Fees': 0.0,
  'Attempt Fees': 0.0,
  'CB Fee': 0.0,
  'Visa Alert Due': 0.0},
 'netevia_esquire': {'Discount Fees': 0.0,
  'Attempt Fees': 0.5,
  'CB Fee': 0.0,
  'Visa Alert Due': 0.0},
 'payarc_evolve': {'Discount Fees': 0.0,
  'Attempt Fees': 0.0,
  'CB Fee': 0.0,
  'Visa Alert Due': 0.0},
 'priority_synovus': {'Discount Fees': 0.0,
  'Attempt Fees': 0.6,
  'CB Fee': 35.0,
  'Visa Alert Due': 35.0},
 'quantum_cbsl': {'Discount Fees': 0.07,
  'Attempt Fees': 0.6,
  'CB Fee': 35.0,
  'Visa Alert Due': 15.0},
 'quantum_fresno': {'Discount Fees': 0.07,
  'Attempt Fees': 0.6,
  'CB Fee': 35.0,
  'Visa Alert Due': 15.0},
 'signapay_esquire': {'Discount Fees': 0.0,
  'Attempt Fees': 0.65,
  'CB Fee': 35.0,
  'Visa Alert Due': 20.0},
 'merchant industries': {'Discount Fees': 0.0,
  'Attempt Fees': 0.0,
  'CB Fee': 35.0,
  'Visa Alert Due': 0.0}}

### Step 2) Import the EOM dataframe

In [3]:
# Get the EOM df
for EOM_df in files:
    if "EOM" in EOM_df and "View" in EOM_df:
        print(EOM_df)
        break

In [4]:
current_directory = os.getcwd()
current_directory

'c:\\Users\\mmsou\\Documents\\mokum.ai\\KT'

In [5]:
import pandas as pd
import os

# Get the current directory (where the notebook is saved)
current_directory = os.getcwd()

# List all files in the current directory
files = os.listdir(current_directory)

# Import the EOM_df
def import_file(file_name):
    if file_name.endswith(".csv"):
        return pd.read_csv(file_name)
    elif file_name.endswith((".xls", ".xlsx")):
        return pd.read_excel(file_name)
    else:
        raise ValueError("Unsupported file format")

# Example usage: Look for a file named "EOM-View_EXPORT.csv" or similar
for file in files:
    if "EOM" in file and file.endswith((".csv", ".xls", ".xlsx")) and "View" in file:
        EOM_df = import_file(file)
        break
else:
    raise FileNotFoundError("No EOM file found in the current directory")

# Convert "Processor", "Card Type", and "Merchant Group" into string columns
EOM_df["Processor"] = EOM_df["Processor"].astype(str)
EOM_df["Card Type"] = EOM_df["Card Type"].astype(str)
EOM_df["Merchant Group"] = EOM_df["Merchant Group"].astype(str)

FileNotFoundError: No EOM file found in the current directory

:

- Disc Due --> **Processed** x **Discount Fee**
- Auth Due --> **Attempted Captured Charges** x **Attempt Fees**
- CB Due --> **Chargebacks** x **35**
- Visa Alert Due --> **Alerts** x **Visa Alert**
- EOM --> **SUM OF ALL**

As we through the df we append the index and values for each dict representing each new colummn, in the end we will map the original df with these to fill them out

In [30]:
EOM_df = EOM_df[EOM_df['Merchant Group'] != "Sale Shield"]
EOM_df = EOM_df[EOM_df['Merchant Group'] != "SaleShield"]
EOM_df = EOM_df[EOM_df["Processor"] != "EMS"]

In [31]:
EOM_df.columns

# Columns to keep Processor, Card Type, Merchant Group, Attempted Captured Charges, Processed, Chargebacks, Alerts, Disc Due, Auth Due, CB Due, Visa Alert Due
EOM_df = EOM_df[["Processor", "Card Type", "Merchant Group", "Attempted Captured Charges", "Processed", "Chargebacks", "Alerts"]]
EOM_df["Disc Due"] = np.nan
EOM_df["Auth Due"] = np.nan
EOM_df["CB Due"] = np.nan
EOM_df["Visa Alert Due"] = np.nan
EOM_df["Total EOM"] = np.nan

# Drop all rows that have FlexFactor and Stripe in the processor column
EOM_df = EOM_df[~EOM_df["Processor"].str.contains("FlexFactor|Stripe", na=False)]

# Remove trailing spaces from EOM_df column names
def clean_column_names(df):
    df.columns = (
        df.columns.str.strip()         # Remove leading/trailing spaces
        .str.lower()                   # Convert to lowercase
        .str.replace(r'\W+', '_', regex=True)  # Replace non-word characters with '_'
        .str.replace(r'_+', '_', regex=True)   # Remove multiple consecutive '_'
        .str.rstrip('_')                # Remove trailing '_'
    )
    return df

# Clean Porcessed column such that we remove special characters and convert to float
EOM_df["Processed"] = EOM_df["Processed"].astype(str).str.replace(r'[^0-9.]', '', regex=True).astype(float)

# Replace empty strings and non-numeric values with NaN
EOM_df["Attempted Captured Charges"] = (
    EOM_df["Attempted Captured Charges"]
    .astype(str)  # Ensure the column is treated as strings
    .str.replace(r'[^0-9.]', '', regex=True)  # Remove non-numeric characters
    .replace('', 0)  # Replace empty strings with NaN
)

# Convert the column to float, coercing any remaining invalid values to NaN
EOM_df["Attempted Captured Charges"] = pd.to_numeric(EOM_df["Attempted Captured Charges"], errors='coerce')

# Convert charbacks column into integer 
# Clean and convert the column (replace "Chargebacks" with the desired column name)
EOM_df["Chargebacks"] = (
    EOM_df["Chargebacks"]
    .astype(str)  # Ensure the column is treated as strings
    .str.replace(r'[^0-9.]', '', regex=True)  # Remove non-numeric characters
    .replace('', 0)  # Replace empty strings with NaN
    .astype(float)  # Convert to float
)
EOM_df["Chargebacks"] = EOM_df["Chargebacks"].astype(str).str.replace(r'[^0-9.]', '', regex=True).astype(float)

EOM_df = clean_column_names(EOM_df)

In [32]:
# If nan in the processor column, then drop the row
EOM_df = EOM_df.dropna(subset=["processor"])
# Reset the index
EOM_df.reset_index(drop=True, inplace=True)
EOM_df

,processor,card_type,merchant_group,attempted_captured_charges,processed,chargebacks,alerts,disc_due,auth_due,cb_due,visa_alert_due,total_eom
0,nan,nan,Silvers Key,0,0.00,0.0,0,NaN,NaN,NaN,NaN,NaN
1,APPS_SYNOVOUS,Mastercard,Piterias Inc,0,0.00,1.0,0,NaN,NaN,NaN,NaN,NaN
2,APPS_SYNOVUS,Mastercard,Jupiter Path,481,7163.69,2.0,26,NaN,NaN,NaN,NaN,NaN
3,APPS_SYNOVUS,Visa,Jupiter Path,1099,8420.71,0.0,16,NaN,NaN,NaN,NaN,NaN
4,APPS_SYNOVUS,Mastercard,Piterias Inc,434,8037.83,0.0,35,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
66,QUANTUM_FRESNO,Visa,Dori Wiz,769,6977.63,2.0,44,NaN,NaN,NaN,NaN,NaN
67,SIGNAPAY_ESQUIRE,Visa,Dori Wiz,0,0.00,2.0,0,NaN,NaN,NaN,NaN,NaN
68,SIGNAPAY_ESQUIRE,Mastercard,Ripple Solutions,53,836.16,3.0,0,NaN,NaN,NaN,NaN,NaN
69,SIGNAPAY_ESQUIRE,Visa,Ripple Solutions,132,610.44,0.0,2,NaN,NaN,NaN,NaN,NaN
70,SIGNAPAY_ESQUIRE,Mastercard,Silvers Key,0,0.00,1.0,0,NaN,NaN,NaN,NaN,NaN

#### Filling in the columns

In [33]:
# Now we fill in the columns above

# These dicts will in the end be mapped over the original df, they have as keys the index and as values the due amounts
disc_due_dict = {}
auth_due_dict = {}
cb_due_dict = {}
visa_alert_due_dict = {}


# Debug 1: Check if all processors in df are in the dict
count_debug_1 = 0
# Debug 2: Check if totals match rod output
count_debug_2 = 0

# Debug 3: Check if total match len of df 
count_debug3 = 0 

# Debug 4: Check if total match len of df
count_debug4 = 0

for row in EOM_df.itertuples():
    P = row.processor.lower()
    amount_processed = row.processed
    attempted_captured_charges = row.attempted_captured_charges
    attempted_captured_charges = float(attempted_captured_charges)
    chargebacks = row.chargebacks
    alerts = row.alerts
    card_used = row.card_type.lower()
    

    # start the iteration
    if P in RUBRIC_dict:
        count_debug_1 += 1

        # Column Disc Due --> Discount on the processed column
        discount_due = RUBRIC_dict[P]["Discount Fees"] * amount_processed
        count_debug_2 += discount_due
        disc_due_dict[row.Index] = discount_due

        # Column Auth Due --> Authorization on the processed column
        authorization_due = RUBRIC_dict[P]["Attempt Fees"] * attempted_captured_charges
        count_debug3 += 1
        auth_due_dict[row.Index] = authorization_due

        # Column CB Due --> Chargeback on the processed column
        chargeback_due = RUBRIC_dict[P]["CB Fee"] * chargebacks
        cb_due_dict[row.Index] = chargeback_due
        count_debug4 += 1
        cb_due_dict[row.Index] = chargeback_due

        # Column Visa Alert Due --> Visa Alert on the processed column
        if "visa" in card_used:
            
            visa_alert_due = RUBRIC_dict[P]["Visa Alert Due"] * alerts
            visa_alert_due_dict[row.Index] = visa_alert_due
        else:
            visa_alert_due = 0.0
            visa_alert_due_dict[row.Index] = visa_alert_due
    else:
        print(P)
    

print(count_debug_1, EOM_df.shape[0], count_debug_2)
print(f"Debug 1, passed? {count_debug_1==EOM_df.shape[0]} ")

# Debug 2: Check if the len of the dict is equal to the number of rows in the df
print(f"Debug 2, passed? {len(disc_due_dict)==EOM_df.shape[0]} ")

# Debug 3: Check if the total of the dict is equal to the number of rows in the df
print(f"Debug 3, passed? {len(auth_due_dict)==EOM_df.shape[0]} ")

nan
ems
ems
68 71 10174.117100000001
Debug 1, passed? False
Debug 2, passed? False
Debug 3, passed? False

#### Now we map the dicts into the columns

In [34]:
# Convert dictionaries to pandas Series and assign to DataFrame columns
EOM_df["disc_due"] = pd.Series(disc_due_dict)
EOM_df["auth_due"] = pd.Series(auth_due_dict)
EOM_df["cb_due"] = pd.Series(cb_due_dict)
EOM_df["visa_alert_due"] = pd.Series(visa_alert_due_dict)

# Now we create the eom dict
total_eom_dict = {}

for row in EOM_df.itertuples():
    disc__due = row.disc_due
    auth_due = row.auth_due
    cb_due = row.cb_due
    visa_alert_due = row.visa_alert_due

    sum = disc__due + auth_due + cb_due + visa_alert_due

    # Add to the dict 
    total_eom_dict[row.Index] = sum


# Now we map the EOM dict just as we did with the other columns
EOM_df["total_eom"] = pd.Series(total_eom_dict)

# Quick Ratio to check
EOM_df["processed"].sum() / EOM_df["total_eom"].sum()

12.637709560308622

In [35]:
EOM_df[EOM_df["merchant_group"] == "nan"]

Empty DataFrame
Columns: [processor, card_type, merchant_group, attempted_captured_charges, processed, chargebacks, alerts, disc_due, auth_due, cb_due, visa_alert_due, total_eom]
Index: []

In [36]:
EOM_df.tail(60)

,processor,card_type,merchant_group,attempted_captured_charges,processed,chargebacks,alerts,disc_due,auth_due,cb_due,visa_alert_due,total_eom
11,NETEVIA_ESQUIRE,Mastercard,Dori Wiz,59,1556.35,2.0,3,0.0000,29.50,0.0,0.0,29.5000
12,NETEVIA_ESQUIRE,Visa,Dori Wiz,190,1643.27,0.0,2,0.0000,95.00,0.0,0.0,95.0000
13,NETEVIA_ESQUIRE,Mastercard,Jupiter Path,840,16442.42,13.0,152,0.0000,420.00,0.0,0.0,420.0000
14,NETEVIA_ESQUIRE,Visa,Jupiter Path,1586,8698.69,2.0,58,0.0000,793.00,0.0,0.0,793.0000
15,NETEVIA_ESQUIRE,Mastercard,Piterias Inc,351,7052.83,6.0,46,0.0000,175.50,0.0,0.0,175.5000
16,NETEVIA_ESQUIRE,Visa,Piterias Inc,688,4219.74,0.0,28,0.0000,344.00,0.0,0.0,344.0000
17,NETEVIA_ESQUIRE,Mastercard,Ripple Solutions,699,21744.25,15.0,126,0.0000,349.50,0.0,0.0,349.5000
18,NETEVIA_ESQUIRE,Visa,Ripple Solutions,1371,12070.41,2.0,65,0.0000,685.50,0.0,0.0,685.5000
19,NETEVIA_ESQUIRE,Mastercard,Silvers Key,672,15526.55,7.0,104,0.0000,336.00,0.0,0.0,336.0000
20,NETEVIA_ESQUIRE,Visa,Silvers Key,1141,5818.73,0.0,47,0.0000,570.50,0.0,0.0,570.5000
21,NETEVIA_ESQUIRE,Mastercard,Star Lando,322,10162.39,8.0,45,0.0000,161.00,0.0,0.0,161.0000
22,NETEVIA_ESQUIRE,Visa,Star Lando,497,5560.10,0.0,23,0.0000,248.50,0.0,0.0,248.5000
23,PAYARC,Mastercard,SaleShield,2095,10798.81,0.0,0,0.0000,0.00,0.0,0.0,0.0000
24,PAYARC,Visa,SaleShield,4013,23133.04,0.0,0,0.0000,0.00,0.0,0.0,0.0000
25,PAYARC_EVOLVE,Mastercard,Dori Wiz,394,10957.17,12.0,108,0.0000,0.00,0.0,0.0,0.0000
26,PAYARC_EVOLVE,Visa,Dori Wiz,644,6167.61,0.0,44,0.0000,0.00,0.0,0.0,0.0000
27,PAYARC_EVOLVE,Mastercard,Jupiter Path,468,9942.52,2.0,52,0.0000,0.00,0.0,0.0,0.0000
28,PAYARC_EVOLVE,Visa,Jupiter Path,967,8648.40,0.0,30,0.0000,0.00,0.0,0.0,0.0000
29,PAYARC_EVOLVE,Mastercard,Piterias Inc,558,10029.58,6.0,52,0.0000,0.00,0.0,0.0,0.0000
30,PAYARC_EVOLVE,Visa,Piterias Inc,938,5353.43,1.0,22,0.0000,0.00,0.0,0.0,0.0000
31,PAYARC_EVOLVE,Mastercard,Ripple Solutions,422,10790.61,0.0,70,0.0000,0.00,0.0,0.0,0.0000
32,PAYARC_EVOLVE,Visa,Ripple Solutions,734,6506.37,0.0,38,0.0000,0.00,0.0,0.0,0.0000
33,PAYARC_EVOLVE,Mastercard,Silvers Key,531,11697.72,6.0,96,0.0000,0.00,0.0,0.0,0.0000
34,PAYARC_EVOLVE,Visa,Silvers Key,973,5018.84,0.0,29,0.0000,0.00,0.0,0.0,0.0000
35,PAYSAFE_BBVA,Mastercard,Jupiter Path,493,10891.47,0.0,28,0.0000,295.80,0.0,0.0,295.8000
36,PAYSAFE_BBVA,Visa,Jupiter Path,681,6856.12,0.0,23,0.0000,408.60,0.0,460.0,868.6000
37,PAYSAFE_BBVA,Mastercard,Ripple Solutions,58,681.97,0.0,0,0.0000,34.80,0.0,0.0,34.8000
38,PAYSAFE_BBVA,Visa,Ripple Solutions,67,1481.02,0.0,4,0.0000,40.20,0.0,80.0,120.2000
39,PAYSAFE_BBVA,Mastercard,Star Lando,295,7794.37,7.0,48,0.0000,177.00,245.0,0.0,422.0000
40,PAYSAFE_BBVA,Visa,Star Lando,314,2142.48,0.0,23,0.0000,188.40,0.0,460.0,648.4000
41,PAYSAFE_PNC,Mastercard,Ripple Solutions,99,1168.43,0.0,6,0.0000,59.40,0.0,0.0,59.4000
42,PAYSAFE_PNC,Visa,Ripple Solutions,237,1118.40,0.0,10,0.0000,142.20,0.0,200.0,342.2000
43,PRIORITY_SYNOVUS,Mastercard,Dori Wiz,413,12127.33,2.0,73,0.0000,247.80,70.0,0.0,317.8000
44,PRIORITY_SYNOVUS,Visa,Dori Wiz,179,716.63,0.0,5,0.0000,107.40,0.0,175.0,282.4000
45,PRIORITY_SYNOVUS,Mastercard,Jupiter Path,694,15241.77,4.0,87,0.0000,416.40,140.0,0.0,556.4000
46,PRIORITY_SYNOVUS,Visa,Jupiter Path,929,3416.13,0.0,30,0.0000,557.40,0.0,1050.0,1607.4000
47,PRIORITY_SYNOVUS,Mastercard,Piterias Inc,567,13354.81,8.0,81,0.0000,340.20,280.0,0.0,620.2000
48,PRIORITY_SYNOVUS,Visa,Piterias Inc,542,1482.91,0.0,28,0.0000,325.20,0.0,980.0,1305.2000
49,PRIORITY_SYNOVUS,Mastercard,Ripple Solutions,468,13549.23,5.0,89,0.0000,280.80,175.0,0.0,455.8000
50,PRIORITY_SYNOVUS,Visa,Ripple Solutions,359,2184.05,0.0,18,0.0000,215.40,0.0,630.0,845.4000
51,PRIORITY_SYNOVUS,Mastercard,Silvers Key,509,7587.40,4.0,57,0.0000,305.40,140.0,0.0,445.4000
52,PRIORITY_SYNOVUS,Visa,Silvers Key,762,2303.90,5.0,39,0.0000,457.20,175.0,1365.0,1997.2000
53,QUANTUM,Mastercard,SaleShield,1003,6198.80,0.0,0,433.9160,601.80,0.0,0.0,1035.7160
54,QUANTUM,Visa,SaleShield,2001,13233.30,0.0,0,926.3310,1200.60,0.0,0.0,2126.9310
55,QUANTUM_CBSL,Mastercard,Jupiter Path,1543,15428.90,6.0,193,1080.0230,925.80,210.0,0.0,2215.8230
56,QUANTUM_CBSL,Visa,Jupiter Path,2785,14210.02,0.0,67,994.7014,1671.00,0.0,1005.0,3670.7014
57,QUANTUM_CBSL,Mastercard,Piterias Inc,933,13391.47,10.0,135,937.4029,559.80,350.0,0.0,1847.2029
58,QUANTUM_CBSL,Visa,Piterias Inc,1576,9446.39,0.0,64,661.2473,945.60,0.0,960.0,2566.8473
59,QUANTUM_CBSL,Mastercard,Ripple Solutions,543,8557.68,2.0,63,599.0376,325.80,70.0,0.0,994.8376
60,QUANTUM_CBSL,Visa,Ripple Solutions,1041,8728.45,2.0,36,610.9915,624.60,70.0,540.0,1845.5915
61,QUANTUM_CBSL,Mastercard,Silvers Key,1037,10669.42,5.0,162,746.8594,622.20,175.0,0.0,1544.0594
62,QUANTUM_CBSL,Visa,Silvers Key,1747,9352.11,0.0,75,654.6477,1048.20,0.0,1125.0,2827.8477
63,QUANTUM_CBSL,Mastercard,Star Lando,748,10427.92,4.0,66,729.9544,448.80,140.0,0.0,1318.7544
64,QUANTUM_CBSL,Visa,Star Lando,1315,8665.47,1.0,61,606.5829,789.00,35.0,915.0,2345.5829
65,QUANTUM_FRESNO,Mastercard,Dori Wiz,414,10056.97,4.0,103,703.9879,248.40,140.0,0.0,1092.3879
66,QUANTUM_FRESNO,Visa,Dori Wiz,769,6977.63,2.0,44,488.4341,461.40,70.0,660.0,1679.8341
67,SIGNAPAY_ESQUIRE,Visa,Dori Wiz,0,0.00,2.0,0,0.0000,0.00,70.0,0.0,70.0000
68,SIGNAPAY_ESQUIRE,Mastercard,Ripple Solutions,53,836.16,3.0,0,0.0000,34.45,105.0,0.0,139.4500
69,SIGNAPAY_ESQUIRE,Visa,Ripple Solutions,132,610.44,0.0,2,0.0000,85.80,0.0,40.0,125.8000
70,SIGNAPAY_ESQUIRE,Mastercard,Silvers Key,0,0.00,1.0,0,0.0000,0.00,35.0,0.0,35.0000

### Processor Dataframe

In [37]:
EOM_df["total_eom"].sum()

42914.9671

In [38]:
# Group EOM df by processor
selected_c = ["processor", "total_eom"]
EOM_processor = EOM_df[selected_c].groupby("processor").sum().reset_index()

# If we have a nan in the processor column, we remove that row 
EOM_processor = EOM_processor.dropna(subset=["processor"])
EOM_processor = EOM_processor[EOM_processor["processor"].str.lower() != "nan"]
total_row_processor = pd.DataFrame({
    'processor': ['Total'],
    'total_eom': [EOM_processor['total_eom'].sum()]
})

# Append the total row to the original DataFrame
EOM_processor = pd.concat([EOM_processor, total_row_processor], ignore_index=True)
EOM_processor

           processor   total_eom
0      APPS_SYNOVOUS      0.0000
1       APPS_SYNOVUS      0.0000
2                EMS      0.0000
3    NETEVIA_ESQUIRE   4208.0000
4             PAYARC      0.0000
5      PAYARC_EVOLVE      0.0000
6       PAYSAFE_BBVA   2389.8000
7        PAYSAFE_PNC    401.6000
8   PRIORITY_SYNOVUS   8433.2000
9            QUANTUM   3162.6470
10      QUANTUM_CBSL  21177.2481
11    QUANTUM_FRESNO   2772.2220
12  SIGNAPAY_ESQUIRE    370.2500
13             Total  42914.9671

#### Corp dataframe

In [39]:
selected_c = ["merchant_group", "total_eom"]
EOM_merchant_group = EOM_df[selected_c].groupby("merchant_group").sum().reset_index()

# order merchant group in alphabetical order
EOM_merchant_group = EOM_merchant_group.sort_values("merchant_group").reset_index(drop=True)

# if nan in merchant group delete the row 
"""
EOM_merchant_group = EOM_merchant_group[
    EOM_merchant_group["merchant_group"].notna() &  # Remove actual NaN values
    (EOM_merchant_group["merchant_group"].str.lower() != "nan")  # Remove string "nan"
]
"""

total_row = pd.DataFrame({
    'merchant_group': ['Total'],
    'total_eom': [EOM_merchant_group['total_eom'].sum()]
})
EOM_merchant_group = pd.concat([EOM_merchant_group, total_row], ignore_index=True)
EOM_merchant_group

     merchant_group   total_eom
0          Dori Wiz   3566.9220
1      Jupiter Path  10427.7244
2      Piterias Inc   6858.9502
3  Ripple Solutions   5998.4791
4        SaleShield   3162.6470
5       Silvers Key   7756.0071
6        Star Lando   5144.2373
7             Total  42914.9671

#### Convert to message

In [40]:
message_p3 = ""
message_p3 += f"Total EOM fees by Processor: \n"

# Format processor-level fees
for row in EOM_processor.itertuples():
    if not pd.isna(row.processor):  # Exclude rows with missing processor values
        message_p3 += f"{row.processor}: ${row.total_eom:,.2f}\n"

message_p3 += "----------------------------------\n"
message_p3 += "Total EOM fees by Corp: \n"

# Format corp-level fees
for row in EOM_merchant_group.itertuples():
    if not pd.isna(row.merchant_group):  # Exclude rows with missing merchant_group values
        message_p3 += f"{row.merchant_group}: ${row.total_eom:,.2f}\n"

print(message_p3)

Total EOM fees by Processor:
APPS_SYNOVOUS: $0.00
APPS_SYNOVUS: $0.00
EMS: $0.00
NETEVIA_ESQUIRE: $4,208.00
PAYARC: $0.00
PAYARC_EVOLVE: $0.00
PAYSAFE_BBVA: $2,389.80
PAYSAFE_PNC: $401.60
PRIORITY_SYNOVUS: $8,433.20
QUANTUM: $3,162.65
QUANTUM_CBSL: $21,177.25
QUANTUM_FRESNO: $2,772.22
SIGNAPAY_ESQUIRE: $370.25
Total: $42,914.97
----------------------------------
Total EOM fees by Corp:
Dori Wiz: $3,566.92
Jupiter Path: $10,427.72
Piterias Inc: $6,858.95
Ripple Solutions: $5,998.48
SaleShield: $3,162.65
Silvers Key: $7,756.01
Star Lando: $5,144.24
Total: $42,914.97

### Export

In [41]:
# Create a excel file that has three sheets, sheet 1 is EOM_df, sheet 2 is EOM_processor, sheet 3 is EOM_merchant_group
# Create an Excel file with three sheets
output_file = "EOM_Report.xlsx"
with pd.ExcelWriter(output_file, engine="xlsxwriter") as writer:
    EOM_df.to_excel(writer, sheet_name="EOM_df", index=False)
    EOM_processor.to_excel(writer, sheet_name="EOM_processor", index=False)
    EOM_merchant_group.to_excel(writer, sheet_name="EOM_merchant_group", index=False)

print(f"âœ… Excel file '{output_file}' created successfully!")

âœ… Excel file 'EOM_Report.xlsx' created successfully!